body {
	background-color: lightgray;
	padding: 2%;
	font-family: 'helvetica neue';
	line-height: 250%;
}

#lefto {
	background-color: white;
	width: 15%;
	float: left;
	margin-right: auto;
	margin-left: auto;
	padding: 2%;
}

#righto {
	background-color: white;
	width: 55%;
	float: right;
	padding: 2%;
	height: 100%;
}

#cont {
}

li {
	list-style-type: none;
}
img {
	width:100%;
}
button {
	background-color:lightbrown;
	font-size: 100%;
	width: 50%;
	color: darkbrown;
	box-shadow: 20px;
}

@media screen and (maz-width: 480px) {
    li {
        display: inline-block;
    }
}

#clicklar {
	float: right;
}



